Ressources
*~
build/
__pycache__
.python-version
bin/*
lib/*
pyvenv.cfg
# settings.py
btxData*
tmp*
# a link to private keys
kola*
*cache
dist/
*egg-info/
README.org
*csv
*ipynb
*.ipynb*
Data/
setup.cfg
.dir-locals.el

